* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  justify-content: center;

  padding: 0px 25px 0 25px;

  min-height: 100vh;
  max-height: 100vh;

  background-color: rgba(175, 216, 118, 0.705);
}

.app-wrapper {
  background-color: rgba(255, 255, 255, 0.888);

  margin: 20% auto 80% auto;
  padding: 0 5px;

  min-width: 100%;

  min-height: 250px;
  max-height: 250px;

  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  row-gap: 25px;
}

.app-wrapper p {
  font-family: "Roboto";
  font-size: 16px;
}

.app-wrapper p::before {
  content: "✔";
  padding-right: 5px;
  color: rgb(160, 37, 132);
}

.app-wrapper img {
  width: 100px;
  height: 100px;
}
